<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}">
    </script>
    <title>Your Flights</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-lg-5 pl-lg-5" href="/">Home</a>
</nav>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-8">
            <form  action="@/bookingForm2"  th:object="${form2}" th:action="@{/bookingForm2}" method="post">
                <div class="row card mb-2">
                    <div class="card-header">
                        <h4>Please Enter Details</h4>
                    </div>

                    <div class="card-body">
                        <br>
                        <div class="form-row">
                            <label class="col-4 form-check-label">Email address of recipient : </label>
                            <input th:field="*{userEmail}" type="text" class="text-area form-control-lg form-inline col-4" />
                        </div><br>

                        <h5>Blling Address : </h5><br>
                        <div class="form-row">
                            <label class="col-2 form-check-label">Line 1 : </label>
                             <input th:field="*{addressLine1}" type="text" class="text-area form-control-lg form-inline col-8" />
                        </div><br>
                        <div class="form-row">
                            <label class="col-2 form-check-label">Line 2 :</label>
                             <input th:field="*{addressLine2}" type="text" class="text-area form-control-lg form-inline col-8" />
                        </div><br>
                        <div class="form-row">
                             <label class="col-2 form-check-label">City : </label>
                             <input th:field="*{addressCity}" type="text" class="text-area form-control-lg form-inline col-8" />
                        </div><br>
                        <div class="form-row">
                            <label class="col-2 form-check-label">Country : </label>
                             <input th:field="*{addressCountry}" type="text" class="text-area form-control-lg form-inline col-8" />
                        </div><br>
                        <div class="form-row">
                            <label class="col-2 form-check-label">Postcode : </label>
                             <input th:field="*{addressPostCode}" type="text" class="text-area form-control-lg form-inline col-8" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>