<!DOCTYPE html>
<!--@author: Darius Gaurilka-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<!--    <link href="../static/css/index.css"-->
<!--          th:href="@{css/index.css}" rel="stylesheet"/>-->
    <title>Fights</title>
</head>

<body>
<div class="container">
    <div th:id="${not #lists.isEmpty(flights)}">
        <br>
        <div class="row">
            <div class="col-md-2">
                <h2>Flight List</h2>
            </div>
            <div class="col-md-2">
                <button class="btn-danger" th:onclick="window.location.href = '/logout'">Logout</button>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Airline</th>
                <th>From</th>
                <th>To</th>
                <th>Cost</th>
                <th>Amount of tickets</th>
                <th>View</th>
                <th>Update</th>
                <th>Remove</th>
                <th>Booking</th>
            </tr>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.flightId}"></td>
                <td th:text="${flight.airline}"></td>
                <td th:text="${flight.routeFrom}"></td>
                <td th:text="${flight.routeTo}"></td>
                <td th:text="${flight.cost}"></td>
                <td th:text="${flight.tickets}"></td>
                <td><a th:href="${'/flight/' + flight.flightId}">View Details</a></td>
                <td><a th:href="${'flight/update/' + flight.flightId}">Update Details</a></td>
                <td><a th:href="${'flight/remove/' + flight.flightId}">Remove</a></td>
                <td><a class="btn btn-primary" th:href="${'/bookingForm1/' + flight.getFlightId()}"> Book</a></td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-4">
                <a th:href="${'flight/add'}"> New Flight</a>
            </div>
<!--            <div class="col-md-4">-->
<!--                <a th:="${'flight/bookFlight'}">Book Flight</a>-->
<!--            </div>-->
        </div>

    </div>
</div>


</body>
</html>