<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}">
    </script>
    <!--    <link href="../static/css/index.css"-->
    <!--          th:href="@{css/index.css}" rel="stylesheet"/>-->
    <title>Your Flights</title>
</head>


<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-lg-5" href="/viewFlights">Home</a>
    <ul class="navbar-nav mr-lg-5">
        <li class="nav-item  ml-lg-3">
            <a class="nav-link disabled " href="#">Your Flights</a>
        </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item justify-content-end">
            <a class="btn btn-sm btn-danger" th:onclick="window.location.href = '/logout'">Logout</a>
        </li>
    </ul>
</nav>

<div class="container">
    <br>
    <h1> Your Tickets</h1>
    <br>
    <div class="row">
        <div class="col-7">
            <div th:each="flight : ${usersCurrentFlights}" class="card mb-2">
                <div class="card-header">
                    <h4>Flight Information</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-3">Destination :</h5><p class="col-4" th:text="${flight.getRouteTo()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-3">From :</h5><p class="col-4" th:text="${flight.getRouteFrom()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-3">Airline :</h5><p class="col-4" th:text="${flight.getAirline()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-3">Cost (€) :</h5><p class="col-4" th:text="${flight.getCost()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-3">Departure :</h5><p class="col-4" th:text="${flight.getDate()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-3">Status :</h5><p class="col-4" th:text="${flight.getStatus()}" ></p>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-primary" th:href="${'/addReview/' + flight.getFlightId()}">Review Flight</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-danger" th:href="${'/cancelFlightBooking/' + flight.getFlightId() + '/' + user.getUser_ID()}">Cancel Flight</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
</html>