<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!--    <link href="../static/css/index.css"-->
    <!--          th:href="@{css/index.css}" rel="stylesheet"/>-->
    <title>Fights</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-lg-5" href="/index">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Your Flights</a>
        </li>
    </ul>
</nav>
<body>
<br>
<div class="container">
    <h3>View Current Flights</h3>
    <div class="col-sm-8">
        <h3>No Current Bookings </h3>
        <br>
        <a href="flights" class="btn btn-dark">View available flights</a>
    </div>
</div>
</body>
</html>