<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!--    <link href="../static/css/index.css"-->
    <!--          th:href="@{css/index.css}" rel="stylesheet"/>-->
    <title>CheckFlights</title>
</head>
<body>
<h1>Show Flight:</h1>
<div class="container">
    <div class = "row">
        <h2>Current Booked Flights</h2>
    </div>
    <div class="col-sm-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-6 control-label">Flight Id:</label>
                <div class="col-sm-10">
<!--                    <p class="form-control-static" th:text="${checkFlights.get().usersFlights}" >Flight Id</p>-->
<!--                        <p class="form-control-static" th:text="${checkFlights.get().testMapping}">Flight Id</p>-->

                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Test</th>
        </tr>
<!--        <tr th:each="flight : ${checkFlights}">-->
        <!--  <td th:text="${userFlights}"></td>-->
<!--        </tr>-->
    </table>
    <div class="card">
        <div class="card-body">
            <p th:text="${testMessage}"></p>
        </div>
    </div>
</div>
</body>
</html>