<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!--    <link href="../static/css/index.css"-->
    <!--          th:href="@{css/index.css}" rel="stylesheet"/>-->
    <title>Fights</title>
</head>
<body>
<h1>Add New Flight:</h1>
<div class="container">
    <div class="col-sm-8">
        <h1>No Current Bookings </h1>
    </div>
</div>
</body>
</html>