<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}">
    </script>
    <!--    <link href="../static/css/index.css"-->
    <!--          th:href="@{css/index.css}" rel="stylesheet"/>-->
    <title>Your FLights</title>
</head>
<body class="container">
<h1> Your Flights</h1>
<div class="container">
    <br>
    <div class = "row">
        <h2>Your Tickets</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h2>Flight Information</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-4">Destination :</h5><p class="col-5" th:text="${usersCurrentFlights.get().getRouteTo()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-4">From :</h5><p class="col-5" th:text="${usersCurrentFlights.get().getRouteFrom()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-4">Airline :</h5><p class="col-5" th:text="${usersCurrentFlights.get().getAirline()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-4">Cost (€) :</h5><p class="col-5" th:text="${usersCurrentFlights.get().getCost()}" ></p>
                    </div>
                    <div class="row">
                        <h5 class="col-4">Departure :</h5>
                    </div>
                    <div class="row">
                        <h5 class="col-4">Status :</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>