<!DOCTYPE html>
<!-- @author: Luke Hogan -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">

<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"-->
<!--          rel="stylesheet"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src = https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js></script>
    <script src = https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js></script>

    <script>
        $(document).ready(function () {
            $('#flightTable').DataTable();
        });
    </script>

    <title>Flights</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-lg-5" href="/index">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Your Flights</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div th:id="${not #lists.isEmpty(flights)}">
        <br>
        <div class="row">
            <div class="col-md-2">
                <h2>Flight List</h2>
            </div>
            <div class="col-md-2">
                <button class="btn-danger" th:onclick="window.location.href = '/logout'">Logout</button>
            </div>
        </div>
        <table id="flightTable" name="flightTable" class="table table-striped table-bordered" cellspacing="0" width="100%" >
            <thead>
            <tr>
                <th>Airline</th>
                <th>From</th>
                <th>To</th>
                <th>Cost (€)</th>
                <th>Amount of tickets</th>
                <th>Booking</th>
            </tr>
            <thead>
            <tbody>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.airline}"></td>
                <td th:text="${flight.routeFrom}"></td>
                <td th:text="${flight.routeTo}"></td>
                <td th:text="${flight.cost}"></td>
                <td th:text="${flight.tickets}"></td>
                <td><a class="btn btn-primary" th:href="${'/bookingForm1/' + flight.getFlightId()}"> Book</a></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>


</body>
</html>